@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Bungee+Inline&family=Bungee+Shade&family=Caveat+Brush&family=Iceberg&family=Nova+Square&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');

.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.hero {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
  background: #000000;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  gap: 40px;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-title {
  font-size: 52px;
  line-height: 1.2;
  color: #f1e194;
  /* color: #FF4E00; */
  margin-bottom: 20px;
  font-weight: 800;
  font-weight: 100;
  font-family: Bungee Inline;
     
}

.hero-text {
  color: white;
  font-size: 26px;
  line-height: 1.7;
  max-width: 520px;
  margin-bottom: 25px;
  font-family: Quantico;
}

.hero-btn {
  padding: 14px 26px;
  background: #f1e194;
  color: #5b0e14;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.hero-right {
  display: flex;
  justify-content: center;
}

.hero-right img {
  width: 420px;
  max-width: 100%;
}


.hero-worker {
  width: 100%;
  max-width: 500px;
  animation: workerEntry 1.2s ease-out forwards;
  border-radius: 20px;
}

@keyframes workerEntry {
  0% {
    opacity: 0;
    transform: translateY(-80px) scale(0.95);
    filter: blur(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.hero-worker {
  animation:
    workerEntry 1.2s ease-out forwards,
    /* floatWorker 3s ease-in-out infinite 1.2s; */
}

@keyframes floatWorker {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/* Mobile */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-title {
    font-size: 38px;
  }

  .hero-right img {
    width: 280px;
  }

  .hero-text {
    margin: 0 auto 25px;
  }
}