.topbar {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  border-radius: 12px;
}

/* LEFT */
.topbar-left h2 {
  font-size: 22px;
  color: #111827;
}

/* RIGHT */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ICON */
.topbar-icon {
  font-size: 18px;
  cursor: pointer;
}

/* PROFILE */
.topbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.topbar-profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.topbar-profile span {
  font-size: 14px;
  color: #374151;
}